extends ../layout.pug

block content
  .row.flex-items-xs-middle
    .col-xs
      .m-b-1.text-xs-center
        a.btn.btn-primary(href="/cassandra-table-details/insert") Insert
      table.table
        thead
          tr
            th Name
            th Description
            th Schema
            th Edit
        tbody
          each val in data
            tr
              td= val.name
              td= val.description
              td
                a(data-toggle="modal", data-target=`#${val.name}Modal`,href="#") Show Schema
                .modal.fade(id=`${val.name}Modal`,tabindex="-1")
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(data-dismiss="modal") &times;
                        .modal-title
                          h3 Schema for #{val.name}
                      .modal-body
                        pre= val.schema
                      .modal-footer
                        button.btn.btn-secondary(data-dismiss="modal") Close
              td
                a.btn.btn-primary(href=`/cassandra-table-details/edit/${val.name}`) Edit
